.setup {
  max-width: 400px;
  margin: 0 auto var(--space-xl) auto;
}

.setup__info {
  margin-bottom: var(--space-l);
}

.setup__exchanges {
  margin-bottom: var(--space-l);
}

.setup__exchanges-checkbox {
  margin: var(--space-xxs) 0;
}
