.footer {
  display: flex;
  justify-content: center;
  padding: var(--space-xs);
  background-color: var(--color-secondary);
  border-top: 1px solid var(--color-border);
  font-size: var(--font-size-s);
}

.footer__item-link {
  color: var(--color-black);
  text-decoration: none;
}

.footer__item-link:hover {
  text-decoration: underline;
}

.footer__item:not(:first-child):before {
  content: '|';
  margin-right: var(--space-xxs);
  padding-left: var(--space-xxs);
  color: var(--color-grey);
}
