.fee-form__buttons {
  margin-top: var(--space-m);
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.fee-form__button {
  flex: 0 0 40%;
}

.fee-form__input {
  margin: 0 0 var(--space-m) 0;
}
