.input {
  position: relative;
}

.input__field,
:global(.input__field) {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-m);
  min-width: 100%;
  border: 1px solid var(--color-border);
  padding: var(--space-xs);
  line-height: 1;
  min-height: 38px;
  background-color: var(--color-white);
}

.input__field,
:global(.input__field)::placeholder {
  color: var(--color-grey);
}

.input__field,
:global(.input__field):disabled {
  background-color: var(--color-secondary);
}

.input__label {
  display: block;
  margin: 0 0 var(--space-xxs) var(--space-xs);
  font-size: var(--font-size-s);
  line-height: 16px;
}

.input--inside-label :global(.input__field) {
  text-align: right;
}

.input--inside-label .input__label {
  position: absolute;
  top: var(--space-s);
  margin-bottom: 0;
  color: var(--color-primary-dark);
}

.input__field[type='number']::-webkit-outer-spin-button,
.input__field[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input--has-error {
  background-color: var(--color-loss);
}

.input--has-error :global(.input__error) {
  display: block;
}

.input--has-error :global(.input__field) {
  border: 1px solid var(--color-loss);
}

.input__error {
  display: none;
  font-size: var(--font-size-s);
  color: var(--color-white);
  padding: var(--space-xs);
  line-height: 1;
}
