.recent-trades__row-body:hover {
  background-color: color-mod(var(--color-secondary) a(50%));
}

.recent-trades__cell--red {
  color: var(--color-loss);
}

:global(.recent-trades__cell--green) {
  color: var(--color-profit);
}
