.table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.table__row--body {
  border-bottom: 1px dashed var(--color-border);
}

.table__row--head {
  border-bottom: 1px solid var(--color-border);
}

.table__cell {
  text-align: left;
  padding: var(--space-xs) var(--space-s) var(--space-xxs) var(--space-s);
  line-height: 1;
}

.table__cell:first-child {
  padding-left: 0;
}

.table__cell:last-child {
  padding-right: 0;
}

.table__cell:nth-child(n + 3) {
  text-align: right;
}
