.table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.table__row :global(td),
.table__row :global(th) {
  padding-top: var(--space-xs);
  padding-bottom: var(--space-xs);
}

.table__row--small :global(td),
.table__row--small :global(th) {
  padding-top: var(--space-xxs);
  padding-bottom: var(--space-xxs);
}

.table__row--body {
  border-bottom: 1px dashed var(--color-border);
}

.table__row--body:hover {
  background-color: color-mod(var(--color-secondary) a(50%));
}

.table__row--head {
  border-bottom: 1px solid var(--color-border);
}

.table__cell {
  text-align: left;
  padding: 0 var(--space-s);
  line-height: 1;
  white-space: nowrap;
}

.table__cell:first-child {
  padding-left: 0;
}

.table__cell:last-child {
  padding-right: 0;
}

.table__cell:nth-child(n + 3) {
  text-align: right;
}
