.toggle {
  display: block;
}

.toggle__text {
  width: 100%;
  display: block;
  text-align: center;
  padding: var(--space-s);
  border-bottom: 2px solid var(--color-secondary);
  color: var(--color-grey);
  cursor: pointer;
}

.toggle__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.toggle input:checked ~ .toggle__text {
  padding-bottom: calc(var(--space-s) - 2px);
  border-bottom: 4px solid var(--color-primary-darkest);
  color: var(--color-black);
}
