.order-form__input {
  margin: 0 0 var(--space-m) 0;
}

.order-form__dropdown {
  margin: var(--space-m) 0;
}

.order-form__switch,
.order-form__order-info {
  margin: var(--space-m) 0;
}

.order-form__toggles {
  width: 100%;
  display: flex;
  padding: var(--space-m) 0;
}

.order-form__toggle:first-child:nth-last-child(1) {
    flex: 0 1 100%;
}

.order-form__toggle:first-child:nth-last-child(2),
.order-form__toggle:first-child:nth-last-child(2) ~ .order-form__toggle {
    flex: 0 1 50%;
}
