.header {
  background-color: rgb(234, 229, 212);
  font-size: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--color-grey);
}

.header__logo {
  float: left;
  display: flex;
  align-items: center;
  padding: var(--space-xs);
  border-right: 1px solid var(--color-grey);
}

.header__account-name {
  font-weight: var(--font-weight-bold);
  font-size: 0.75rem;
}

.header__account {
  padding: var(--space-xs);
  font-size: 0.75rem;
}

.header__fund-info {
  padding: var(--space-s) var(--space-xs) var(--space-xs) var(--space-xs);
  display: flex;
  flex-direction: column;
  flex: 1 0 100%;
  border-top: 1px solid var(--color-grey);

  @media (--viewport-s) {
    flex-direction: row;
  }

  @media (--viewport-m) {
    flex: 1;
    padding-left: var(--space-xxl);
    margin: 0;
    border: none;
  }
}

.header__price {
  overflow: hidden;
  width: 100%;
  margin-bottom: var(--space-s);

  @media (--viewport-s) {
    margin-bottom: 0;
  }
}

.header__price:last-child {
  margin-bottom: 0;
}

.header__price-value,
.header__price-desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header__price-desc {
  display: block;
  font-size: var(--font-size-xs);
  color: var(--color-grey);
}

.header__price-value {
  display: block;
  font-size: var(--font-size-s);
}

.header__price-value-important {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
}

.header__account-warning,
.header__account-address,
.header__account-balance:not(:last-child) {
  &:after {
    content: '|';
    margin-right: var(--space-xxs);
    padding-left: var(--space-xxs);
    color: var(--color-grey);
  }
}

.header__account-address {
  color: var(--color-grey);
}

.header__account-warning {
  display: block;
  color: var(--color-loss);

  &:after {
    content: '';
    margin-right: 0;
    padding-left: 0;
  }
}
