.claim-reward__message {
  font-weight: var(--font-weight-bold);
  margin: 0 0 var(--space-m) 0;
}

.claim-reward__steps {
  counter-reset: section;
  margin: 0;
  padding: 0;
  counter-reset: section;
  list-style-type: none;
}

.claim-reward__step {
  font-weight: var(--font-weight-bold);
  padding-top: var(--space-s);
  margin-bottom: var(--space-s);
  border-top: 1px solid var(--color-border);
}

.claim-reward__step-text {
  display: inline-block;
  font-weight: var(--font-weight-regular);
  padding-bottom: var(--space-xs);
}

.claim-reward__step::before {
  counter-increment: section;
  content: 'Step ' counter(section) ': ';
}
