.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown__label {
  color: var(--color-grey);
  margin-right: var(--space-s);
  white-space: nowrap;
}

.dropdown__wrapper {
  position: relative;
  width: 100%;
  background-color: var(--color-border);
}

.dropdown__wrapper::before {
  content: '';
  position: absolute;
  right: 12px;
  top: var(--space-m);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid var(--color-primary-dark);
}

.dropdown__select {
  font-family: var(--font-family-primary);
  appearance: none;
  border: none;
  width: 100%;
  background: transparent;
  font-size: var(--font-size-m);
  border-radius: 0;
  padding: var(--space-xs) var(--space-xl) var(--space-xs) var(--space-s);
  line-height: 1.6;
}

.dropdown__select::-ms-expand {
  display: none;
}

.dropdown__select:focus::-ms-value {
  background-color: transparent;
}
