.button {
  border: 1px solid var(--color-black);
  padding: var(--space-s) var(--space-xl);
  font-size: var(--font-size-m);
  color: var(--color-black);
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 1;
  transition-duration: var(--transition-duration-default);
  min-width: 100%;
}

.button:hover:enabled {
  color: var(--color-white);
  background-color: var(--color-black);
}

.button:disabled {
  cursor: not-allowed;
  color: var(--color-grey);
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}
