.button {
  border: none;
  font-family: var(--font-family-primary);
  color: var(--color-black);
  background-color: color-mod(var(--color-secondary-dark) a(75%));
  cursor: pointer;
  text-transform: uppercase;
  line-height: 1;
  transition-duration: var(--transition-duration-default);
  min-width: 100%;
}

.button:hover:enabled {
  background-color: var(--color-secondary-dark);
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.button--small {
  font-size: .75em;
  padding: var(--space-xs) var(--space-l);
}

.button--medium {
  font-size: 1em;
  padding: var(--space-s) var(--space-m);
}

.button--large {
  font-size: 1.25em;
  padding: var(--space-m) var(--space-xl);
}

.button--warning {
  background-color: transparent;
  border: 1px solid var(--color-warning);
  color: var(--color-warning);
}

.button--warning:hover:enabled {
  background-color: var(--color-warning);
  color: var(--color-white);;
}

.button--danger {
  background-color: transparent;
  border: 1px solid var(--color-loss);
  color: var(--color-loss);
}

.button--danger:hover:enabled {
  background-color: var(--color-loss);
  color: var(--color-white);;
}

.button--success {
  background-color: transparent;
  border: 1px solid var(--color-profit);
  color: var(--color-profit);
}

.button--success:hover:enabled {
  background-color: var(--color-profit);
  color: var(--color-white);
}

.button--clear {
  background-color: transparent;
  border: none;
  color: var(--color-black);
  width: auto;
  min-width: auto;
  padding: 0;
  text-transform: none;
}

.button--clear:hover:enabled {
  background-color: transparent;
  color: var(--color-black);
}

.button--secondary {
  border: 1px solid var(--color-black);
  color: var(--color-black);
  background-color: transparent;
}

.button--secondary:hover:enabled {
  border: 1px solid var(--color-black);
  color: var(--color-white);
  background-color: var(--color-black);
}
