.button {
  border: none;
  font-family: var(--font-family-primary);
  color: var(--color-black);
  background-color: rgb(239, 230, 202);
  cursor: pointer;
  text-transform: uppercase;
  line-height: 1;
  transition-duration: var(--transition-duration-default);
  min-width: 100%;
}

.button:hover:enabled {
  background-color: var(--color-secondary-dark);
}

.button:disabled {
  cursor: not-allowed;
  color: var(--color-grey);
  background-color: var(--color-secondary);
  border: none;
}

.button--small {
  font-size: var(--font-size-s);
  padding: var(--space-xs) var(--space-xl);
}

.button--default {
  font-size: var(--font-size-m);
  padding: var(--space-s) var(--space-xl);
}

.button--large {
  font-size: var(--font-size-l);
  padding: var(--space-m) var(--space-xl);
}
