.generate-wallet {
  max-width: 400px;
  margin: 0 auto var(--space-xl) auto;
}

.generate-wallet__warning {
  padding: var(--space-m);
  background-color: var(--color-warning);
  border: 1px solid color-mod(var(--color-warning) b(10%));
}

.generate-wallet__mnemonic {
  font-size: var(--font-size-xl);
  font-family: monospace;
  font-weight: var(--font-weight-bold);
  margin-top: var(--space-m);
  background-color: var(--color-secondary);
  padding: var(--space-l) var(--space-xl);
}

.generate-wallet__loading {
  margin: var(--space-s) auto;
  text-align: center;
}

.generate-wallet__loading-spinner {
  width: 50px;
  margin: 0 auto;
}

.generate-wallet__input {
  margin-bottom: var(--space-m);
}
