.generate-wallet {
  max-width: 400px;
  margin: 0 auto var(--space-xl) auto;
}

.generate-wallet__warning {
  padding: var(--space-m);
  background-color: var(--color-warning);
  border: 1px solid color-mod(var(--color-warning) b(10%));
}

.generate-wallet__mnemonic {
  font-size: 1.5em;
  font-family: monospace;
  font-weight: bold;
}
