.orderbook__loading {
  margin: 0 auto;
  width: 100px;
}

.orderbook__tables {
  display: flex;
  width: 100%;
}

.orderbook__table {
  flex: 0 0 50%;
}

.orderbook__head-row,
.orderbook__body-row {
  position: relative;
  display: flex;
  padding: var(--space-xxs) 0;
}

.orderbook__head-row {
  border-bottom: 1px solid var(--color-border);
}

.orderbook__body-row:hover {
  background-color: color-mod(var(--color-secondary) a(50%));
}

.orderbook__head-cell,
.orderbook__body-cell {
  padding: 0 var(--space-s);
  flex: 0 0 33.33%;
  line-height: 1;
}

.orderbook__head-row {
  font-weight: bold;
}

.orderbook__table-buy .orderbook__body-cell,
.orderbook__table-buy .orderbook__head-cell {
  text-align: right;
}

.orderbook__bar {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
}

.orderbook__bar :global(.orderbook__bar-item) {
  position: absolute;
  top: 0;
  bottom: 0;
}

.orderbook__bar--sell :global(.orderbook__bar-item) {
  left: 0;
  background-color: color-mod(var(--color-profit) a(20%));
  border-right: 1px solid color-mod(var(--color-profit) a(25%));
}

.orderbook__bar--buy :global(.orderbook__bar-item) {
  right: 0;
  background-color: color-mod(var(--color-loss) a(20%));
  border-left: 1px solid color-mod(var(--color-loss) a(25%));
}

.orderbook__bar--sell :global(.orderbook__bar-border) {
  position: absolute;
  top: 0;
  right: 0;
  height: 1px;
  z-index: -1;
  background-color: color-mod(var(--color-profit) a(25%));
}

.orderbook__bar--buy :global(.orderbook__bar-border) {
  position: absolute;
  top: 0;
  right: 0;
  height: 1px;
  z-index: -1;
  background-color: color-mod(var(--color-loss) a(25%));
}

.orderbook__table-buy .orderbook__body-cell:nth-child(3),
.orderbook__table-buy .orderbook__head-cell:nth-child(3) {
  padding-right: var(--space-m);
}

.orderbook__table-sell .orderbook__body-cell:nth-child(1),
.orderbook__table-sell .orderbook__head-cell:nth-child(1) {
  padding-left: var(--space-m);
}
